*{
    padding:0;
    margin:0;
    box-sizing: border;
    /* font-family: 'Roboto Mono', monospace; */
}

/* Navigation Bar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#008B8B; 
    position: sticky;
    top: 0.5;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin:18px 0px;
   
}
.navbar ul li {
    font-size: medium;
    font-weight: 600;
    font-family: sans-serif;
}
.navbar ul li a{
    color:white;
    padding: 8px 25px;
    text-decoration: none;
    transition: width .2s;
}
.navbar ul li a:hover{
    background-color: grey;
    color: black;
    box-shadow: 0 0 10px white;
}

/* home */
.home{
display: flex;
flex-direction: column;
height: 540px;
background-color: rgba(0, 0, 0, 0.5);
justify-content: center;
align-items: center;
color: white;
}
.home::before{
    content: "";
    position: absolute ;
    top: 0;
    right: 0;
    background: url(images/back.jpg) no-repeat center center/cover ;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: .2;

}
.home-main{
    
    right: 12%;
    top: 28%;
    position:absolute ;
    display: flex;
    align-items: center;

}
.heading1{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin: 30px 0px;
    font-family: Optima, sans-serif;
    margin-top: 210px;
    margin-right: 260px;
}
.heading{
    font-size:40px;
    text-align: center;
    margin: 30px 0px;
    font-family: Optima, sans-serif;
    font-weight: 600;
    
}
/* .home img{
    height: 200px;
    width: 200px;
    border-radius: 90%;
    margin-top: -200xp;
    
} */
.handles{
    display: flex;
    margin-right: 120px;
    margin-left: 150px;
    /* margin-top: 100px; */
    

}
.handles img{
    height: 20px;
    width: 30px;
    justify-content: space-between;
    margin: 10px;
    margin-top: 70px;
    border-radius: 40%;
    
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 90%;
    margin-left: 0px;
    margin-top: -100px;
    }
    /* about me section */
.about-me{
 display: flex;
 flex-direction: column;
 margin-top: 10px;
 box-sizing: border-box;
 padding: 20px;
 
}
.image{
    display: flex;

}
.image img{
    width: 600px;
    height:400px;
    margin-top: -140px;
    margin-left: 100px;
    background-color: black;
}
.introduction{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
.introduction h2{
    margin-bottom: 0px;

}
.abtme{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 60px;
}
.row{
    display: flex;
       
}
.box1{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding-top: 40px;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2) ;
    border-radius: 40px 40px 0 0;
    background-color: lightcyan;
    
}
.box1:hover {
    transform: scale(1.1);
}
.box1 img{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}
.heading4 p{
    margin: 20px;
    letter-spacing: 0.1em;
}
/* section for projects done */
.projects{
 display: flex;
 flex-direction: column;
 background-color: black;
 color: white;
}
.projects1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
    /* background-color: black; */


}
.projects1 img{
    margin: 20px;
    height: 230px;
    width: 360px;
    background-color: white;
}
.heading2{
    margin-left: 500px;
    text-decoration: underline;
}
.description{
    display: flex;
    flex-direction: column;
}
.descr{
    display: flex;
    justify-content: space-around;
    margin: 10px -20px 0px 20px;
    padding: 5px 5px 0 0px;
    font-size: 15px;
    

    
}
.content{
    background-color: black;
    color: white;
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0 0;
}
.content .p1{
    margin-left: 30px;
    margin-right: 40px;
}
.content .p2{
    margin-left: 100px;
    margin-right: 0px;
}
.content .p3{
    margin-left: 100px;
    margin-right: -240px;
}
.descr1{
    display: flex;
    justify-content: space-around;
    
}
.descr1 .h31{
    margin-left: -40px;
}
.descr1 .h32{
    margin-right: 200px;
}
.descr1 .h33{
    margin-right: 60px;
    margin-left: -200px;
}
/* contact section */

.contact-me{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color:#8c9ba5;
    
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;

}
.input{
    padding: 12px;
    margin: 15px;
    outline: none;
    border: none;
}
#msg{
    width: 240px;
    margin:17px;
    padding: 12px;
    height: 100px;
    outline: none;
    border: none;
}
#send{
    
}